--- setup.cfg.orig	2026-09-12 20:45:47 UTC
+++ setup.cfg
@@ -43,7 +43,7 @@ install_requires =
     isodate
     python-dateutil
     # Pin until fix for 2.0.0 is released (https://pypi.org/project/rfc3986/#history):
-    rfc3986<2
+    rfc3986
     uritemplate>=3.0.0
     babel
     language-tags
