--- conf/viewvc.conf.dist.orig	2026-04-01 13:33:42 UTC
+++ conf/viewvc.conf.dist
@@ -335,6 +335,10 @@
 ## diff: Location of the GNU diff program, used for showing file
 ## version differences.
 ##
+## If you want to use side-by-side diff or full colored diff on FreeBSD 12
+## or later, you need to install GNU diff via diffutils packge and to
+## specify it here.
+##
 ## Example:
 ## diff = /usr/bin/diff
 ##
